.options_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    gap: var(--spacing_huge);
    white-space: nowrap;
}

.options_element {
    width: 100%;
}

.checkboxes_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}