.perks_container {
    display: flex;
    flex-direction: row;
    align-items: start;
    width: 100%;
    justify-content: space-around;
    gap: var(--spacing_huge);
    white-space: nowrap;
}

.perks_column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: auto;
    width: 100%;
    /* background-color: var(--color_raven); */
    gap: var(--spacing_medium);
}

.perks_column_item_container {
    display: flex;
    flex-direction: row;
    align-items: start;
    height: 60px;
    width: 100%;
    gap: var(--spacing_small);
    /* background-color: red; */
}

.perks_output_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.perks_perk_logo_container {
    display: flex;
    flex-direction: row;
    align-items: start;
    height: 100%;
}

.perks_perk_info_container {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100%;
}

.perks_input {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    gap: var(--margin_small);
}

.perks_image {
    height: 100%;
    width: auto;
    border: 10px;
}