.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    background-position: center;
    background-image: url("resources/summon_fade.png");
    background-repeat: no-repeat;
    background-color: var(--color_black);
    background-size: clamp(1000px, 80%, 1500px) auto;
}

.content_page {
    display: flex;
    flex-direction: column;
    justify-self: start;
    height: fit-content;
    width: 100%;
    padding-top: var(--spacing_large);
    padding-bottom: var(--spacing_large);
    padding-left: var(--spacing_medium);
    padding-right: var(--spacing_medium);
    margin-top: var(--spacing_large);
    margin-bottom: var(--spacing_large);
    background-color: var(--color_grey_transparent);
    box-sizing: border-box;
    gap: var(--spacing_large);
}
