.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color_charcoal);
}

.header_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 5vh;
    min-height: 40px;
    max-height: 60px;
    width: 100%;
}

.header_section_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

/* Styling for the right container to
account for the border of the logo. */
.header_section_right {
    margin-right: var(--spacing_small);
}

.header_logo {
    height: 100%;
    width: auto;
}

.header_link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
    padding: var(--spacing_medium);
}
