.page {
    display: flex;
    flex-direction: column;
    justify-self: start;
    width: 100%;
    height: fit-content;
    padding-top: var(--padding_small);
    padding-bottom: var(--padding_small);
    padding-left: var(--padding_medium);
    padding-right: var(--padding_medium);
    margin-top: var(--margin_large);
    background-color: var(--color_charcoal_80);
}
