:root {
    /* Colors */

    --color_crimson: #a70418;

    --color_midnight: #040405;
    --color_charcoal: #282c34;
    --color_charcoal_80: rgba(40, 44, 52, 0.8);

    --color_white: #ffffff;
    --color_alabaster: #eeeded;

    /* Spacing */

    --spacing_small: 8px;
    --spacing_medium: 16px;
    --spacing_large: 32px;

    /* Padding */

    --padding_default: var(--spacing_small);

    /* Margin */

    --margin_medium: var(--spacing_medium);
    --margin_large: var(--spacing_large);
}

/* align-items, horizontal */
/* justify-content, vertical */
