.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    width: 100%;
    padding-top: var(--padding_default);
    padding-bottom: var(--padding_default);
    background-color: blueviolet;
    /*TODO REMOVE*/
}