.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    background-position: center;
    background-image: url("resources/summon_fade.png");
    background-repeat: no-repeat;
    background-color: var(--color_midnight);
    background-size: clamp(1000px, 80%, 1500px) auto;
}
