:root {
    /* Colors */

    --color_crimson: #a70418;

    --color_midnight: #040405;
    --color_charcoal: #282c34;
    --color_charcoal_80: rgba(40, 44, 52, 0.8);

    --color_white: #ffffff;
    --color_alabaster: #eeeded;

    /* Spacing */

    --spacing_small: 8px;
    --spacing_medium: 16px;
    --spacing_large: 24px;

    /* Padding */

    --padding_small: var(--spacing_small);
    --padding_medium: var(--spacing_medium);
    --padding_large: var(--spacing_large);

    /* Margin */

    --margin_small: var(--spacing_small);
    --margin_medium: var(--spacing_medium);
    --margin_large: var(--spacing_large);
}

h1 {
    color: var(--color_alabaster);
    font-size: larger;
    font-weight: bold;
    margin: 0;
}

h2 {
    color: var(--color_alabaster);
    font-size: large;
    font-weight: bold;
    margin: 0;
}

h3 {
    color: var(--color_alabaster);
    font-size: medium;
    font-weight: bold;
    margin: 0;
}

p {
    color: var(--color_alabaster);
    font-size: medium;
    margin: 0;
}

a {
    color: var(--color_alabaster);
    text-decoration: none;
    margin: 0;
}

Link {
    color: var(--color_alabaster);
    text-decoration: none;
    margin: 0;
}

a:hover {
    color: var(--color_white);
    text-decoration: underline;
}

.visible_link {
    text-decoration: underline;
}
