:root {
    /* Colors */
    --color_red: #a70418;
    --color_red_transparent: rgba(167, 4, 24, 0.8);
    --color_black: #040405;
    --color_dark_grey: #1c1f25;
    --color_grey: #282c34;
    --color_grey_transparent: rgba(40, 44, 52, 0.9);
    --color_white: #ffffff;
    --color_soft_white: #eeeded;
    --color_green: #3bb143;
    --color_orange: #ff6201;

    /* Spacing */
    --spacing_small: 8px;
    --spacing_medium: 16px;
    --spacing_large: 24px;
    --spacing_huge: 32px;

    /* The root font size, all other font sizes
    are based off this value */
    font-size: 18px;
}

/* Styling */

body {
    margin: 0;
}

h1 {
    color: var(--color_soft_white);
    margin: 0;
}

h2 {
    color: var(--color_soft_white);
    margin: 0;
}

h3 {
    color: var(--color_soft_white);
    margin: 0;
}

p {
    color: var(--color_soft_white);
    margin: 0;
    word-break: keep-all;
    white-space: pre-wrap;
    overflow: hidden;
}

a {
    color: var(--color_soft_white);
    text-decoration: none;
    margin: 0;
}

a:hover {
    color: var(--color_white);
    text-decoration: underline;
}

input {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    box-sizing: border-box;
    padding: var(--spacing_small);
    background-color: var(--color_dark_grey);
    color: var(--color_soft_white);
    font-family: "Inria Sans";
    width: 100%;
    outline: 0;
    border-width: 0 0 2px;
    border-color: var(--color_red);
}

label {
    box-sizing: border-box;
    color: var(--color_soft_white);
}

/* Font size */

/* Large */
@media (min-width: 769px) {
    h1 {
        font-size: 1.4rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    h3,
    p,
    a,
    label {
        font-size: 1rem;
    }
}

/* Medium */
@media (max-width: 768px) {
    h1 {
        font-size: 1.2rem;
    }

    h2 {
        font-size: 1rem;
    }

    h3,
    p,
    a,
    label {
        font-size: 0.9rem;
    }
}

/* Small */
@media (max-width: 480px) {
    h1 {
        font-size: 1rem;
    }

    h2 {
        font-size: 0.8rem;
    }

    h3,
    p,
    a,
    label {
        font-size: 0.8rem;
    }
}
